* {
    font-family: Arial, Helvetica, sans-serif;
    /* margin: 0;
    padding: 0; */
    text-align: center;
}

.main {
    display: grid;
    grid-template-columns: 200px 200px;
}

.red {
    border: 2px solid red;
    background-color: red;
}

.orange {
    border: 2px solid orange;
    background-color: orange;
}

.yellow {
    border: 2px solid yellow;
    background-color: yellow;
}

.green {
    border: 2px solid green;
    background-color: green;
}

.blue {
    border: 2px solid blue;
    background-color: blue;
}

.purple {
    border: 2px solid purple;
    background-color: purple;
}

.brown {
    border: 2px solid brown;
    background-color: brown;
}

.black {
    border: 2px solid black;
    background-color: rgb(32, 31, 31);
}